<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreams</title>
    <%- include ('partials/head.html')%>
</head>
<body class="pgAbout">

    <!-- NAVEGACION -->
  
    <%- include ('partials/navigation.html')%>


    <!-- CARTA SOBRE DREAMS -->

    <div class="container d-flex justify-content-center align-items-center" style="margin-top: 100px;">

        <div class="card mb-3" style="background: rgba(20, 20, 20, 0.7);">

            <div class="row g-0">
    
              <div class="col-md-4">
                <img src="img/test1.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
    
                <div class="col-md-8">
    
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center align-items-center p-2" style="font-size: 30px; color: #ffffff; text-shadow: 0 0 30px #fff;">¿What is Dreams?</h5>
                        <p class="card-text" style="text-align: justify; color: #ccc;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat at nobis voluptatibus officia? Eius quasi pariatur veritatis, tempora dolor quaerat rem earum nam accusantium velit modi sunt nulla aut fuga ullam voluptatum temporibus molestiae quos aliquid vitae qui porro fugit. A quam nihil non aspernatur sed esse quos. Rerum, facilis.</p>
                    </div>
    
                </div>
    
            </div>
         
          </div>

    </div>

    <h1 class="d-flex justify-content-center align-items-center p-4 animate__animated animate__rotateIn" style="text-shadow: 0 0 60px #fff;">SERVICES</h1>

    <div class="container d-flex justify-content-center align-items-center">

        

        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
              <div class="card bg-dark">
                <img src="img/service1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title align-items-center d-flex justify-content-center">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-dark">
                <img src="img/service1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title align-items-center d-flex justify-content-center">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="card bg-dark">
                <img src="img/service1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title align-items-center d-flex justify-content-center">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>

    </div>

    


    











    <!-- FOOTER + SOCIAL -->

    <%- include ('partials/footer.html')%>
    
</body>
</html>