<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreams</title>
    <%- include ('partials/head.html')%>
</head>
<body>

  <!-- NAVEGACION -->
  
  <%- include ('partials/navigation.html')%>

  <!-- CAROUSEL PRINCIPAL -->

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/img/carousel1.jpg" class="d-block" alt="primera foto" style="height: 100vh;">
        </div>

        <div class="carousel-item">
          <img src="/img/carousel2.jpg" class="d-block" alt="segunda foto" style="height: 100vh;">
        </div>

        <div class="carousel-item">
          <img src="/img/carousel3.jpg" class="d-block" alt="tercera foto" style="height: 100vh;">
        </div>
      </div>
      
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
    </div>

    <!-- SOCIAL -->
    
    <!--<%- include ('partials/social.html')%> -->

    <!-- FOOTER -->

    <%- include ('partials/footer.html')%>

</body>
</html>