<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreams</title>
    <%- include ('partials/head.html')%>
</head>
<body class="pagPrueba">
    
    <!-- NAVEGACION -->
  
    <%- include ('partials/navigation.html')%>

    <main id="mainPrueba" style="margin-top: 70px; margin-bottom: 80px;">

      <div class="">

        <div class="row gx-0">
            <div class="col-3">
                <div id="list-example" class="list-group" style="position: sticky; top: 70px;">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-5">Item 5</a>
                  </div>
            </div>
            <div class="col-9">
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                    <div class="card-group" id="list-item-1">

                        <div class="card">
      
                          <img src="img/test1.jpeg" class="card-img-top" alt="...">
      
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          </div>
      
                        </div>
      
                        <div class="card">
      
                          <img src="img/test1.jpeg" class="card-img-top" alt="...">
      
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                          </div>
      
                        </div>
      
                        <div class="card">
      
                          <img src="img/test1.jpeg" class="card-img-top" alt="...">
      
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                          </div>
      
                        </div>
      
                    </div>
                    <div class="card-group" id="list-item-2">

                      <div class="card">
    
                        <img src="img/test1.jpeg" class="card-img-top" alt="...">
    
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
    
                      </div>
    
                      <div class="card">
    
                        <img src="img/test1.jpeg" class="card-img-top" alt="...">
    
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
    
                      </div>
    
                      <div class="card">
    
                        <img src="img/test1.jpeg" class="card-img-top" alt="...">
    
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
    
                      </div>
    
                    </div>
                    <div class="card-group" id="list-item-3">

                      <div class="card">
    
                        <img src="img/test1.jpeg" class="card-img-top" alt="...">
    
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
    
                      </div>
    
                      <div class="card">
    
                        <img src="img/test1.jpeg" class="card-img-top" alt="...">
    
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
    
                      </div>
    
                      <div class="card">
    
                        <img src="img/test1.jpeg" class="card-img-top" alt="...">
    
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
    
                      </div>
    
                    </div>
                    <div class="card-group" id="list-item-4">

                      <div class="card">
    
                        <img src="img/test1.jpeg" class="card-img-top" alt="...">
    
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
    
                      </div>
    
                      <div class="card">
    
                        <img src="img/test1.jpeg" class="card-img-top" alt="...">
    
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
    
                      </div>
    
                      <div class="card">
    
                        <img src="img/test1.jpeg" class="card-img-top" alt="...">
    
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
    
                      </div>
    
                    </div>
                    <div class="card-group" id="list-item-5">

                      <div class="card">
    
                        <img src="img/test1.jpeg" class="card-img-top" alt="...">
    
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
    
                      </div>
    
                      <div class="card">
    
                        <img src="img/test1.jpeg" class="card-img-top" alt="...">
    
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
    
                      </div>
    
                      <div class="card">
    
                        <img src="img/test1.jpeg" class="card-img-top" alt="...">
    
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
    
                      </div>
    
                    </div>
                  </div>
            </div>
        </div>



      </div>

    </main> 

    <!-- FOOTER + SOCIAL -->

    <%- include ('partials/footer.html')%>

</body>
</html>