body {

    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: 'Roboto', sans-serif;
    color: white;
}


.social p {
    color: #FCF7FF;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

/* imagenes del banner */

#carouselExampleFade .carousel-inner .carousel-item {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
}

#carouselExampleFade .carousel-inner .carousel-item:nth-child(1) {
    background-image: url(../img/carousel1.jpg);
}

#carouselExampleFade .carousel-inner .carousel-item:nth-child(2) {
    background-image: url(../img/carousel2.jpg);
}

#carouselExampleFade .carousel-inner .carousel-item:nth-child(3) {
    background-image: url(../img/carousel3.jpg);
}
