body {

    background: #141414;  /* fallback for old browsers */
    font-family: 'Roboto', sans-serif;
    color: white;
}


.social p {
    color: #FCF7FF;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

/* imagenes del banner */

#carouselExampleFade, #carouselExampleFade .carousel-inner {
    height: 100%;
}

#carouselExampleFade .carousel-inner .carousel-item:nth-child(1) {
    background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url(../img/carousel4.jpg); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#carouselExampleFade .carousel-inner .carousel-item {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#carouselExampleFade .carousel-inner .carousel-item:nth-child(2) {
    background-image: url(../img/carousel2.jpg);
}

#carouselExampleFade .carousel-inner .carousel-item:nth-child(3) {
    background-image: url(../img/carousel3.jpg);
}
