<footer class="text-white-50 p-2 bg-dark fixed-bottom">

    <div class="float-end">

        <a href="#" class="text-white-50 text-decoration-none p-1 fs-5">
            <i class="fab fa-facebook"></i>
        </a>
    
        <a href="#" class="text-white-50 text-decoration-none p-1 fs-5">
            <i class="fab fa-twitter"></i>
        </a>
    
        <a href="#" class="text-white-50 text-decoration-none p-1 fs-5">
            <i class="fab fa-instagram"></i>
        </a>

    </div>

    <p class="h6 text-center">DREAMS BY BRUTALCODE &copy;</p>
</footer>